flows-3.json
[
    {
        "id": "tab-equalpath-smartdesk2",
        "type": "tab",
        "label": "EqualPath SmartDesk (v2)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "mqtt-in-equalpath2",
        "type": "mqtt in",
        "z": "tab-equalpath-smartdesk2",
        "name": "EqualPath SmartDesk",
        "topic": "equalpath/smartdesk/data",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqtt-broker-equalpath2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "debug-raw-json2",
                "json-parse2"
            ]
        ]
    },
    {
        "id": "debug-raw-json2",
        "type": "debug",
        "z": "tab-equalpath-smartdesk2",
        "name": "Debug JSON bruto (string)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 40,
        "wires": []
    },
    {
        "id": "json-parse2",
        "type": "json",
        "z": "tab-equalpath-smartdesk2",
        "name": "JSON → objeto",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "debug-obj2",
                "fn-temp2",
                "fn-light2",
                "fn-focus2",
                "fn-status2",
                "fn-uptime2"
            ]
        ]
    },
    {
        "id": "debug-obj2",
        "type": "debug",
        "z": "tab-equalpath-smartdesk2",
        "name": "Debug objeto (payload.*)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "fn-temp2",
        "type": "function",
        "z": "tab-equalpath-smartdesk2",
        "name": "Temperatura (°C)",
        "func": "if (!msg.payload || msg.payload.temperatureC === undefined) {\n    return null;\n}\nmsg.payload = msg.payload.temperatureC;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 160,
        "wires": [
            [
                "debug-temp2",
                "ui-gauge-temp2"
            ]
        ]
    },
    {
        "id": "fn-light2",
        "type": "function",
        "z": "tab-equalpath-smartdesk2",
        "name": "Luz (%)",
        "func": "if (!msg.payload || msg.payload.lightPercent === undefined) {\n    return null;\n}\nmsg.payload = msg.payload.lightPercent;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 260,
        "wires": [
            [
                "debug-light2",
                "ui-gauge-light2"
            ]
        ]
    },
    {
        "id": "fn-focus2",
        "type": "function",
        "z": "tab-equalpath-smartdesk2",
        "name": "Foco Ambiente (score)",
        "func": "if (!msg.payload || msg.payload.focusScore === undefined) {\n    return null;\n}\nmsg.payload = msg.payload.focusScore;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 360,
        "wires": [
            [
                "debug-focus2",
                "ui-gauge-focus2"
            ]
        ]
    },
    {
        "id": "fn-status2",
        "type": "function",
        "z": "tab-equalpath-smartdesk2",
        "name": "Status Estudo",
        "func": "if (!msg.payload) return null;\nlet studying = !!msg.payload.studying;\nmsg.payload = studying ? \"Estudando\" : \"Pausado\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 460,
        "wires": [
            [
                "debug-status2",
                "ui-text-status2"
            ]
        ]
    },
    {
        "id": "fn-uptime2",
        "type": "function",
        "z": "tab-equalpath-smartdesk2",
        "name": "Uptime",
        "func": "if (!msg.payload || msg.payload.uptime === undefined) {\n    return null;\n}\nmsg.payload = msg.payload.uptime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 560,
        "wires": [
            [
                "debug-uptime2",
                "ui-text-uptime2"
            ]
        ]
    },
    {
        "id": "debug-temp2",
        "type": "debug",
        "z": "tab-equalpath-smartdesk2",
        "name": "Debug temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 140,
        "wires": []
    },
    {
        "id": "debug-light2",
        "type": "debug",
        "z": "tab-equalpath-smartdesk2",
        "name": "Debug luz",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug-focus2",
        "type": "debug",
        "z": "tab-equalpath-smartdesk2",
        "name": "Debug foco",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 340,
        "wires": []
    },
    {
        "id": "debug-status2",
        "type": "debug",
        "z": "tab-equalpath-smartdesk2",
        "name": "Debug status estudo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 440,
        "wires": []
    },
    {
        "id": "debug-uptime2",
        "type": "debug",
        "z": "tab-equalpath-smartdesk2",
        "name": "Debug uptime",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "ui-gauge-temp2",
        "type": "ui_gauge",
        "z": "tab-equalpath-smartdesk2",
        "name": "Temperatura (°C)",
        "group": "ui-group-ambiente2",
        "order": 1,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura (°C)",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": 18,
        "max": 30,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": 22,
        "seg2": 26,
        "className": "",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui-gauge-light2",
        "type": "ui_gauge",
        "z": "tab-equalpath-smartdesk2",
        "name": "Luz Ambiente (%)",
        "group": "ui-group-ambiente2",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Luz Ambiente (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#1f77b4",
            "#90ee90",
            "#ca3838"
        ],
        "seg1": 40,
        "seg2": 70,
        "className": "",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "ui-gauge-focus2",
        "type": "ui_gauge",
        "z": "tab-equalpath-smartdesk2",
        "name": "Score de Foco",
        "group": "ui-group-ambiente2",
        "order": 3,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Score de Foco",
        "label": "pontos",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": 40,
        "seg2": 70,
        "className": "",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "ui-text-status2",
        "type": "ui_text",
        "z": "tab-equalpath-smartdesk2",
        "group": "ui-group-ambiente2",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "Status da Sessão",
        "label": "Status da Sessão",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "ui-text-uptime2",
        "type": "ui_text",
        "z": "tab-equalpath-smartdesk2",
        "group": "ui-group-ambiente2",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "Tempo de Execução",
        "label": "Uptime do dispositivo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 860,
        "y": 600,
        "wires": []
    },
    {
        "id": "f878593881070fed",
        "type": "function",
        "z": "tab-equalpath-smartdesk2",
        "name": "Comando Sessão",
        "func": "msg.topic = \"equalpath/smartdesk/cmd\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 420,
        "wires": [
            [
                "c2f81e4a60f9f75a",
                "4abae93ffe5d662d"
            ]
        ]
    },
    {
        "id": "0190ef56c06507c3",
        "type": "ui_switch",
        "z": "tab-equalpath-smartdesk2",
        "name": "",
        "label": "Controle da Sessão ",
        "tooltip": "",
        "group": "ui-group-ambiente2",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "start",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "stop",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "f878593881070fed"
            ]
        ]
    },
    {
        "id": "c2f81e4a60f9f75a",
        "type": "mqtt out",
        "z": "tab-equalpath-smartdesk2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt-broker-equalpath",
        "x": 330,
        "y": 540,
        "wires": []
    },
    {
        "id": "4abae93ffe5d662d",
        "type": "debug",
        "z": "tab-equalpath-smartdesk2",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 460,
        "wires": []
    },
    {
        "id": "mqtt-broker-equalpath2",
        "type": "mqtt-broker",
        "name": "Mosquitto Public EqualPath",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ui-group-ambiente2",
        "type": "ui_group",
        "name": "Ambiente de Estudo",
        "tab": "ui-tab-equalpath2",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "mqtt-broker-equalpath",
        "type": "mqtt-broker",
        "name": "Mosquitto Public",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ui-tab-equalpath2",
        "type": "ui_tab",
        "name": "EqualPath SmartDesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]